* {
    font-family: sans-serif;
}

header {
    background-color: rgb(10, 10, 91);
    color: white;
    height: 66px;
    padding: 0 50px;
    display: flex;
}

.headerContent {
    margin: auto 0;
}

.card {
    margin-top: 20px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(215, 215, 215);
}

.card {
    flex-basis: 28%;
    margin: auto;
}