body {
    font-family: "Open Sans", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}

.topper {
    font-size: 11px;
    width: 100%;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: black;
}

.navbar-brand {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 2px;
    color: black;
}

.navbar .navbar-nav > .nav-item {
    font-size: 10px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1 !important;
}

.navbar-toggler {
    border: none;
    color: white;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

@media (max-width: 991.98px) {
    .navbar {
        background: #000000 !important;
    }
    .navbar-brand {
        color: white;
    }
    .navbar .navbar-nav > .nav-item {
        color:white;
    }
    .navbar-toggler {
        color: white;
    }
}
