* {
    font-family: sans-serif;
}

header {
    background-color: rgb(10, 10, 91);
    color: white;
    height: 66px;
    padding: 0 50px;
    display: flex;
}

.body {
    justify-content: center;
    background-color: rgb(232, 232, 232);
}

.catalog > img {
    height: 200px;
    object-fit: contain;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.backToCatalog {
    color: gray;
}

.backToCatalog:hover {
    cursor: pointer;
    font-weight: bolder;
}

.details {
    background-color: white;
}

.detailsImg > img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.detailsImg {
    justify-content: center;
}

.cartProductImg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.goToCart:hover {
    cursor: pointer;
}

.shopCart:hover {
    transform: scale(1.1);
}

.logo:hover {
    cursor: pointer;    
}

@media only screen and (max-width: 736px) {
    .card {
        width: 40% !important;
    }
    .cartSummaryHeader {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 414px) {
    .card {
        width: 100% !important;
    }
    .logo, .goToCart{
        font-size: 0.9rem !important;
    }
    .cartSummaryHeader {
        font-size: 1rem !important;
    }
    .cartItemDescription {
        font-size: 0.7rem !important;
    }
    .backToCatalog {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 375px) {
    .logo, .goToCart {
        font-size: 0.7rem !important;
        margin-right: 0 !important;
    }
    .cartSummaryHeader {
        font-size: 0.7rem !important;
    }
}