* {
    font-family: sans-serif;
}

header {
    background-color: rgb(10, 10, 91);
    color: white;
    height: 66px;
    padding: 0 50px;
    display: flex;
}

.body {
    justify-content: center;
    background-color: rgb(232, 232, 232);
}

.catalog > img {
    height: 200px;
    object-fit: contain;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.backToCatalog {
    color: gray;
}

.backToCatalog:hover {
    cursor: pointer;
    font-weight: bolder;
}

.details {
    background-color: white;
}

.detailsImg > img{
    width: 500px;
    height: 300px;
    object-fit: contain;
}

.detailsImg {
    justify-content: center;
}